@import '../../_css/common';

.card  {
  border: 1px var(--theme-elevation-200) solid;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .mediaWrapper {
    text-decoration: none;
    display: block;
    position: relative;
    aspect-ratio: 16 / 9;

    &:hover .hoverImage {
      opacity: 1;
    }
  }

  .image, .hoverImage {
    object-fit: cover;
    transition: opacity 0.3s ease;
  }

  .hoverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.relatedProductCard {
  max-width: 300px;
}

.saleBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 3px;
  z-index: 1;
}

.soldOutBadge {
  position: absolute;
  top: 40px; // Position below the sale badge
  left: 10px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 3px;
  z-index: 1;
}

.content {
  padding: var(--base);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;
}

.titleLink {
  text-decoration: none;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 16 / 9;
}

.image {
  object-fit: cover;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}
