@import '../../_css/common';

.actionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2);
  margin-top: var(--base);

  &.soldOut {
    .sizeButton {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.sizes {
  display: flex;
  flex-wrap: wrap;
}

.sizeButton {
  border: 1px solid var(--theme-elevation-1000);
  width: 40px;
  text-align: center;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--theme-elevation-50);
  }
}

.selected {
  background-color: var(--theme-elevation-50);
}

.price {
  font-weight: 600;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  > * {
    margin: 0;
  }
}

.priceBreakdown {
  color: var(--theme-elevation-500);
}

.pricesWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.salePrice {
  text-decoration: line-through;
}

.soldOutMessage {
  color: red !important;
  font-weight: bold;
  margin-top: var(--base);
}
